h1 {
    text-align: center;
    background-color: rgb(48, 47, 47);
    font-family: 'Times New Roman', Times, serif;
}

nav #elemento {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    background-color: rgb(71, 61, 61);
    justify-content: space-between;
    display: inline-block;
    width:32%;
    border:2em;
    text-decoration: none;
    border-radius:1em;
    font-size: x-large;
}

a {
    color: white;
}

#boton {
    background-color: mediumseagreen;
    cursor: pointer;
    transition: all ease 0.5s;
    font-family: 'Times New Roman', Times, serif;
}

#datos {
    font-family: 'Times New Roman', Times, serif; 
}

#container {
    font-family: 'Times New Roman', Times, serif;
}

#editar{
    background-color: mediumaquamarine;
    transition: all ease 0.5s;
    border:mediumaquamarine solid 1px;

}

#volver {
    background-color: gray;
    transition: all ease 0.5s;
    border:gray solid 1px;
}

#borrar {
    background-color: rgb(128, 4, 4);
    transition: all ease 0.5s;
    border:rgb(128, 4, 4) solid 1px;
}

#borrar:hover {
    background-color: transparent;
}

#volver:hover {
    background-color: transparent;
}

#editar:hover{
    background-color: transparent;
}

.botones {
    margin-top: 170px;
    margin-left: 170px;
    display: inline-block;
}