h1 {
    text-align: center;
    background-color: rgb(48, 47, 47);
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

nav #elemento {
    text-align: center;
    list-style: none;
    background-color: rgb(71, 61, 61);
    justify-content: space-between;
    display: inline-block;
    width:32%;
    border:2em;
    text-decoration: none;
    border-radius:1em;
    font-size: x-large;
}

a {
    color: white;
}

#formulario{
    font-family: 'Times New Roman', Times, serif;
}

#mensaje {
    border-radius: 1px;
    border: 1px solid;
    padding:1em;
    width:100%;
}

#tipo_consulta{
    display: inline-block;

}



